player-connection-mode=Listen
player-connection-guid=646947278
player-connection-debug=0
player-connection-project-name=SpinnerUp_Multplayer_AR
player-connection-ip=192.168.1.10
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e671cc536d6a49c087a6113f7fea04b3
